fastapi
uvicorn
jinja2
python-multipart
ansible-core
sqlmodel
apscheduler
ansible-lint
apprise
itsdangerous
bcrypt
python-jose[cryptography]
cryptography
pydantic-settings
watchfiles
asyncssh
websockets
httpx

